*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-data input{
    float: right;
}
#pagination{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pagination a{
    padding: 15px;
    background-color: #ECBADB;
    color : black;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;
}
.active{
   background-color: #90EE90 !important;
   color:black !important;
}